@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0px;
}
.overlay2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.767);
  position: fixed;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fade-in 500ms forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal2 {
  width: 65vw;
  overflow-y: auto;
  height: 85vh;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 3px black;
  animation: zoom-in 500ms linear;
}
@keyframes zoom-in {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
.modal2 .modal-class-btn {
  background-color: red;
  float: right;
  margin: 5px;
  padding: 5px;
}

#root {
  padding: 7px;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(62, 253, 255);
  background: linear-gradient(
    38deg,
    rgba(62, 253, 255, 1) 0%,
    rgba(45, 84, 253, 1) 100%
  );
}

header div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div:nth-child(2) {
  padding: 16px;
}

header div:nth-child(2) input {
  padding: 16px;
  font-size: 1.5rem;
}

header div:nth-child(2) button {
  padding: 16px;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: orange;
}

header div:nth-child(2) button:hover {
  cursor: pointer;
}

header h1 {
  font-family: "Monoton", sans-serif;
  color: orange;
  font-size: 5rem;
  letter-spacing: 13px;
  font-weight: 400;
  font-style: normal;
}

.card {
  width: 33%;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 13px;
}

a {
  text-decoration: none;
}

.card .btn {
  width: 30%;
  margin: 3px;
  padding: 7px;
  background-color: green;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.card .btn:hover {
  background-color: rgba(19, 137, 19, 0.656);
}

.point {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 50vw;
}

#sort {
  padding: 16px;
  margin: 16px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: orange;
  background-color: white;
}

#sort:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
}

.row {
  width: 99%;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 13px;
  display: flex;
  justify-content: space-between;
}
.modal-btns {
  display: flex;
  align-items: center;
}
.modal-btn-remove {
  background-color: rgba(255, 0, 0, 0.61);
  color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  font-size: larger;
  border: none;
}

.modal-btn-remove:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.578);
  color: red;
}

.modal-btn-add {
  background-color: rgba(0, 128, 0, 0.626);
  color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  font-size: larger;
  border: none;
}

.modal-btn-add:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.603);
  color: green;
}

#modal-footer {
  display: flex;
  justify-content: space-between;
  width: 99%;
  border-radius: 5px;
  min-height: 100px;
  background: linear-gradient(
    38deg,
    rgba(62, 253, 255, 1) 0%,
    rgba(45, 84, 253, 1) 100%
  );
  color: black;
  padding: 10px;
  margin-top: 10px;
  position: sticky;
  bottom: 0;
}
p {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
